<div class="py-4 mb-2">
  <h3 class="d-inline-block">Tokens</h3>
  <div class="float-right">
    <%= linkTo(newPersonTokensPath({person_id: person.ID}), {class: "btn btn-primary"}) { %>
      Create New Token
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>TokenID</th><th>AccessGroups</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (token) in tokens { %>
      <tr>
        <td class="align-middle"><%= token.TokenID %></td><td class="align-middle"><%= accessGroupList(token) %></td>
        <td>
          <div class="float-right">
            <%= linkTo(editPersonTokenPath({ person_id: person.ID, token_id: token.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(personTokenPath({ person_id: person.ID, token_id: token.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>