<div class="py-4 mb-2">
  <h3 class="d-inline-block">Person Details</h3>

  <div class="float-right">
    <%= linkTo(peoplePath(), {class: "btn btn-info"}) { %>
      Back to all People
    <% } %>
    <%= linkTo(editPersonPath({ person_id: person.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(personPath({ person_id: person.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>


<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>active</th><th>Name</th><th>Surname</th><th>CompanyID</th><th>Email</th><th>Phone</th><th>IDNumber</th><th>Alarm</th>
  </thead>
  <tbody>
      <tr>
        <td class="align-middle">
          <%= formFor(person, {action: personPath({ person_id: person.ID }), method: "PUT", data-remote: "true"}) { %>
            <input id="person-IsActive" name="IsActive" onchange="this.form.submit()" type="checkbox" value="true" <%= activeHelper() %>>
            <%= f.HiddenTag("IsActive", {value: "false"}) %>
          <% } %>
        </td>
        <td class="align-middle"><%= person.Name %></td><td class="align-middle"><%= person.Surname %></td><td class="align-middle"><%= person.Company.Name %></td><td class="align-middle"><%= person.Email %></td><td class="align-middle"><%= person.Phone %></td><td class="align-middle"><%= person.IDNumber %></td>
        <td class="align-middle">
          <%= formFor(person, {action: personPath({ person_id: person.ID }), method: "PUT", data-remote: "true"}) { %>
            <input id="person-Alarm" name="Alarm" onchange="this.form.submit()" type="checkbox" value="true" <%= alarmHelper() %>>
            <%= f.HiddenTag("Alarm", {value: "false"}) %>
          <% } %>
        </td>
      </tr>
  </tbody>
</table>

<div class="py-4 mb-2">
  <h3 class="d-inline-block">Tokens</h3>
  <div class="float-right">
    <%= linkTo(newPersonTokensPath({person_id: person.ID}), {class: "btn btn-primary"}) { %>
      Create New Token
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>TokenID</th><th>AccessGroups</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (token) in tokens { %>
      <tr>
        <td class="align-middle"><%= token.TokenID %></td><td class="align-middle"><%= accessGroupList(token) %></td>
        <td>
          <div class="float-right">
            <%= linkTo(editPersonTokenPath({ person_id: person.ID, token_id: token.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(personTokenPath({ person_id: person.ID, token_id: token.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>