<div class="row d-flex justify-content-center">
  <div class="col-md-6" style="margin-top: 30vh;" >
    <div class="card">
      <div class="card-body">
        <%= if (current_user) { %>
          <h1>
            Hello <%= (current_user.Name) %>!
          </h1>
        <% } else { %>
          <h1>Welcome to doory.</h1>
          <h2>
            Please sign in 
            <a href="/auth/azureadv2" class="button" >here</a>
          </h2>
        <% } %>
      </div>
    </div>
  </div>
</div>
