<div class="py-4 mb-2">
  <h3 class="d-inline-block">Door Details</h3>

  <div class="float-right">
    <%= linkTo(doorsPath(), {class: "btn btn-info"}) { %>
      Back to all Doors
    <% } %>
    <%= linkTo(editDoorPath({ door_id: door.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(doorPath({ door_id: door.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Room</label>
    <p class="d-inline-block"><%= door.Room %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Floor</label>
    <p class="d-inline-block"><%= door.Floor %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Building</label>
    <p class="d-inline-block"><%= door.Building %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Description</label>
    <p class="d-inline-block"><%= door.Description %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Company</label>
    <p class="d-inline-block"><%= door.Company %></p>
  </li>


</ul>
