<div class="py-4 mb-2">
  <h3 class="d-inline-block">Edit AccessGroup</h3>
</div>

<%= formFor(accessGroup, {action: accessGroupPath({ access_group_id: accessGroup.ID }), method: "PUT"}) { %>
  <%= partial("access_groups/form.html") %>
  <%= linkTo(getParentPath(crumbs, accessGroupPath({ access_group_id: accessGroup.ID })), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>

<div class="py-4 mb-2">
  <h3 class="d-inline-block">Doors</h3>
  <div class="float-right">
    <%= linkTo(newDoorsPath(), {class: "btn btn-primary"}) { %>
      Create New Door
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Opens</th><th>Room</th><th>Floor</th><th>Building</th><th>Description</th><th>Company</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (door) in doors { %>
      <tr>
        <td class="align-middle">
          <%= form({id: formID(door.ID), action: accessGroupDoorsPath(), method: "POST", data-remote: "true"}) { %>
            <input name="Door-<%= door.ID %>" type="checkbox" value="true" onchange="this.form.submit()" <%= opensDoorHelper(door) %>>
            <input name="Door-<%= door.ID %>" type="hidden" value="false">
            <input name="door_id" type="hidden" value="<%= door.ID.String() %>">
            <input name="access_group_id" type="hidden" value="<%= accessGroup.ID.String() %>">
          <% } %>
        </td>
        <td class="align-middle"><%= door.Room %></td><td class="align-middle"><%= door.Floor %></td><td class="align-middle"><%= door.Building %></td><td class="align-middle"><%= door.Description %></td><td class="align-middle"><%= door.Company.Name %></td>
        <td>
          <div class="float-right">
            <%= linkTo(doorPath({ door_id: door.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editDoorPath({ door_id: door.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(doorPath({ door_id: door.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>